.features {
  background: var(--primary-title-color);
  &__list {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    @include table {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: justify;
    text-transform: none;
    color: var(--main-text-color);
  }

  &__title {
    margin-bottom: 10px;
    @include table {
      text-align: left;
    }
  }
}

.features__item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @include table {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include desktop {
    margin-bottom: 0;
    flex-basis: calc((100% -3 * 30px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &::before {
    display: block;
    content: '';
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    background: var(--team-background-color);
    border-radius: 4px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--team-background-color);
  }
  &.icon-antenna::before {
    background-image: url(../images/antenna.svg);
  }
  &.icon-clock::before {
    background-image: url(../images/clock.svg);
  }
  &.icon-diagram::before {
    background-image: url(../images/diagram.svg);
  }
  &.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
  }
}
