.header {
  border-bottom: 1px solid var(--border-color);
}

.navigation__list {
  // display: flex;
  display: none;
}

.navigation__item {
  display: block;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts {
  // display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}
.contacts__list {
  display: none;
}
.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;

  color: var(--main-text-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  & + & {
    margin-left: 50px;
  }
}

.contacts__icon {
  justify-content: center;
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
  &:focus {
    fill: var(--accent-color);
  }
}
.menu-open-btn,
.menu-close-btn {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  outline: none;
  // margin-top: 10px;
  // margin-right: 15px;
}
.mob-menu {
  position: absolute;
  background-color: var(--primary-title-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu__item,
.mob-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu__link {
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--header-text-color);
}
.mob-contacts__link__tel {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--accent-color);
}
.mob-contacts__link__mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-text-color);
}
.mob-social-link {
  display: flex;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--accent-color);
}
.mob-social__item {
  margin-top: 64px;
}
