.logo-link {
  margin-bottom: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;

  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;

  &--light-theme {
    color: var(--header-text-color);
  }

  &--dark-theme {
    color: var(--logo-two-color);
  }

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @include desktop {
    margin-right: 93px;
  }
  @include table {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  @include desktop {
    display: inline-block;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
