.section {
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
    width: 100%;
  }
}
.work {
  display: none;

  @include desktop {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}
