.team__social-list {
  display: flex;
  justify-content: center;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
}
.team__social-link {
  color: var(--focus-icon-color);
  transition-property: color, background-color;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--footer-contacts-color);
    outline: none;
  }
}
.social-icon {
  fill: currentColor;
}
.team__social-item + .team__social-item {
  margin-left: 10px;
}

.join__social-link {
  color: var(--footer-contacts-color);
  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: none;
  }
}
