:root {
  --header-text-color: #212121;
  --main-text-color: #757575;
  --primary-title-color: #ffffff;
  --logo-two-color: #ffffff;
  --hero-title-color: #ffffff;
  --button-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-contacts-color: #ffffff;
  --hero-background-color: #2f303a;
  --focus-button-color: #188ce8;
  --border-color: #ececec;
  --focus-icon-color: #afb1b8;
  --project-content: #eeeeee;
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-color: #ffffff;
  --team-background-color: #f5f4fa;
}
